<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myspring.mapper.RecordMapper">
    <update id="addRecord" parameterType="com.example.myspring.pojo.Record">
        insert
        into records(UserID, EID, Date, Site, Time, EName, Lab)
        value (#{UserID}, #{EID}, #{Date}, #{Site}, #{Time}, #{EName}, #{Lab} )
    </update>

    <update id="deleteRecord">
        delete
        from records
        where UserID = #{UserID} AND EID = #{EID} AND Date = #{Date} AND Site = #{Site} AND Time = #{Time}
    </update>

    <select id="getAllRecordsByEID" parameterType="String" resultType="com.example.myspring.dto.RecordInfo">
        select *
        from records
        where EID = #{EID}
    </select>

    <select id="getAllSiteSelected" resultType="int">
        select Site
        from records
        where EID = #{EID} AND Date = #{Date} AND Time = #{Time}
    </select>

    <select id="getAllRecordsByStudentID" parameterType="String" resultType="com.example.myspring.dto.RecordInfo">
        select *
        from records
        where UserID = #{UserID}
    </select>
</mapper>